{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Site Metas -->
    <link
      rel="icon"
      href="{% static 'images/fevicon.png' %}"
      type="image/gif"
    />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>KopiKenangan</title>

    <!-- bootstrap core css -->
    <link
      rel="stylesheet"
      type="text/css"
      href=" {% static 'css/bootstrap.css' %}"
    />

    <!-- fonts style -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap"
      rel="stylesheet"
    />

    <!-- font awesome style -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <!-- responsive style -->
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
  </head>

  <body>
    <div class="hero_area">
      <!-- header section strats -->
      <header class="header_section long_section px-0">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="">
            <span> KopiKenangan </span>
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div
              class="d-flex mx-auto flex-column flex-lg-row align-items-center"
            >
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/index"
                    >Home <span class="sr-only">(current)</span></a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about"> About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/menu">Menu</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact Admin</a>
                </li>
              </ul>
            </div>
            <div class="quote_btn-container">
              <a href="/logout">
                <span> LogOut </span>
                <i class="fa fa-user" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </nav>
      </header>
      <!-- end header section -->
      <!-- slider section -->
      <section class="slider_section long_section">
        <div id="customCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container">
                <div class="row">
                  <div class="col-md-5">
                    <div class="detail-box">
                      <h1>
                        Mari Menikmati <br />
                        Secangkir Kopi
                      </h1>
                      <p>
                        Niat Mau Buka Hati Tapi Lupa Kata Sandy, Jadi Ngopi Ajah
                      </p>
                      <div class="btn-box">
                        <a href="/contact" class="btn1"> Contact Admin </a>
                        <a href="/menu" class="btn2"> Menu-SOP </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="img-box">
                      <img
                        src="{% static 'images/aa.jpg' %}"
                        alt=""
                        class="img"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row">
                  <div class="col-md-5">
                    <div class="detail-box">
                      <h1>
                        Mari Menikmati <br />
                        Secangkir Kopi
                      </h1>
                      <p>
                        Kopi mengajarkan bahwa terkadang rasa pahit adalah
                        langkah menuju kelezatan yang sejati
                      </p>
                      <div class="btn-box">
                        <a href="/contact" class="btn1"> Contact Admin </a>
                        <a href="/menu" class="btn2"> Menu-SOP </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="img-box">
                      <img src="{% static 'images/aa.jpg' %}" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="row">
                  <div class="col-md-5">
                    <div class="detail-box">
                      <h1>
                        Mari Menikmati <br />
                        Secangkir Kopi
                      </h1>
                      <p>
                        Seperti kopi yang menggabungkan biji yang berbeda,
                        kehidupan kita penuh dengan perpaduan pengalaman yang
                        membuatnya unik
                      </p>
                      <div class="btn-box">
                        <a href="/contact" class="btn1"> Contact Admin </a>
                        <a href="/menu" class="btn2"> Men-SOP </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="img-box">
                      <img src="{% static 'images/aa.jpg' %}" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ol class="carousel-indicators">
            <li
              data-target="#customCarousel"
              data-slide-to="0"
              class="active"
            ></li>
            <li data-target="#customCarousel" data-slide-to="1"></li>
            <li data-target="#customCarousel" data-slide-to="2"></li>
          </ol>
        </div>
      </section>
      <!-- end slider section -->
    </div>

    <!-- about section -->

    <section class="about_section layout_padding long_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="img-box">
              <img src="{% static 'images/j.jpg' %}" alt="" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="detail-box">
              <div class="heading_container">
                <h2>About Us</h2>
              </div>
              <p>
                "KopiKenangan" Dapat menciptakan minuman kopi dengan kualitas
                tinggi. Beberapa orang menikmati pengalaman ini dan menghargai
                keahlian barista.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end about section -->

    <!-- blog section -->

    <section class="furniture_section layout_padding">
      <div class="container">
        <div class="heading_container">
          <h2>Lates Blog</h2>
          <p>Apapun Masalahnya Ngopi Solusinya maka Rasakanlah Sensasinya</p>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/1.jpg' %}" alt="" />
              </div>
              <div class="detail-box">
                <h5>Expresso</h5>
                <div class="price_box">
                  <h6 class="price_heading">>>></h6>
                  <p>Asli Kopi Pilihan</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/2.jpg' %}" alt="" />
              </div>
              <div class="detail-box">
                <h5>Cofee Latte</h5>
                <div class="price_box">
                  <h6 class="price_heading">>>></h6>
                  <p>Asli Kopi Pilihan</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/3.jpg' %}" alt="" />
              </div>
              <div class="detail-box">
                <h5>Es Kopsuren</h5>
                <div class="price_box">
                  <h6 class="price_heading">>>></h6>
                  <p>Asli Kopi Pilihan</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/4.jpg' %}" alt="" />
              </div>
              <div class="detail-box">
                <h5>Kopi Kawista</h5>
                <div class="price_box">
                  <h6 class="price_heading">>>></h6>
                  <p>Asli Kopi Pilihan</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/5.jpg' %}" alt="" />
              </div>
              <div class="detail-box">
                <h5>V60</h5>
                <div class="price_box">
                  <h6 class="price_heading">>>></h6>
                  <p>Asli Kopi Pilihan</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/6.jpg' %}" alt="" />
              </div>
              <div class="detail-box">
                <h5>Kopi Susu</h5>
                <div class="price_box">
                  <h6 class="price_heading">>>></h6>
                  <p>Asli Kopi Pilihan</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end blog section -->

    <!-- contact section -->
    <section class="contact_section long_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="form_container">
              <div class="heading_container">
                <h2>Contact Admin</h2>
              </div>
              <form action="">
                <div>
                  <input type="text" placeholder="Your Name" />
                </div>
                <div>
                  <input type="text" placeholder="Phone Number" />
                </div>
                <div>
                  <input type="email" placeholder="Email" />
                </div>
                <div>
                  <input
                    type="text"
                    class="message-box"
                    placeholder="Message"
                  />
                </div>
                <div class="btn_box">
                  <button>SEND</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-6">
            <div class="map_container">
              <div class="map">
                <div id="googleMap"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end contact section -->

    <!-- info section -->
    <section class="info_section long_section">
      <div class="container">
        <div class="contact_nav">
          <a href="">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <span> Call : +62 87840469442 </span>
          </a>
          <a href="">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <span> Email : wmi54968@gmail.com </span>
          </a>
          <a href="">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <span> Location </span>
          </a>
        </div>

        <div class="info_top">
          <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="info_links">
                <h4>QUICK LINKS</h4>
                <div class="info_links_menu">
                  <a class="" href="/index"
                    >Home <span class="sr-only">(current)</span></a
                  >
                  <a class="" href="/about"> About</a>
                  <a class="" href="/blog">Blog</a>
                  <a class="" href="/contact">Contact Admin</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mx-auto">
              <div class="info_post">
                <h5>INSTAGRAM FEEDS</h5>
                <div class="post_box">
                  <div class="img-box">
                    <img src="{% static 'images/1.jpg' %}" alt="" />
                  </div>
                  <div class="img-box">
                    <img src="{% static 'images/2.jpg' %}" alt="" />
                  </div>
                  <div class="img-box">
                    <img src="{% static 'images/3.jpg' %}" alt="" />
                  </div>
                  <div class="img-box">
                    <img src="{% static 'images/4.jpg' %}" alt="" />
                  </div>
                  <div class="img-box">
                    <img src="{% static 'images/5.jpg' %}" alt="" />
                  </div>
                  <div class="img-box">
                    <img src="{% static 'images/6.jpg' %}" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info_form">
                <h4>FOLLOW ME</h4>

                <div class="social_box">
                  <a href="">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                  <a href="">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                  <a href="">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                  </a>
                  <a href="">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end info_section -->

    <!-- footer section -->
    <footer class="footer_section">
      <div class="container">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By
          <a href="#">Wiliramayanti</a>
        </p>
      </div>
    </footer>
    <!-- footer section -->

    <!-- jQery -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <!-- bootstrap js -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <!-- custom js -->
    <script src="{% static 'js/custom.js' %}"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
    <!-- End Google Map -->
  </body>
</html>
