{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- link css boostrap  -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;1,700&family=Roboto:wght@400;900&display=swap"
      rel="stylesheet"
    />
    <!-- link css -->
    <link rel="stylesheet" href="{% static 'css/form.css' %}" />

    <title>KopiKenangan</title>
  </head>
  <body>
    <!-- form login -->
    {% for message in messages %}
    <div class=" alert alert-success">
      <a class="close" href="#" data-dismiss="alert">

      </a>
      {{ message }}
    </div>
    {% endfor %}

    <form class="user justify-content-md-center" method="post" action="">
      {% csrf_token %}

      <div class="mb-3">
        <h3 class="text text-center">Register</h3>

        <label for="exampleInputUsername" class="form-label">First Name</label>
        {{ form.first_name }}
      </div>
      <div class="mb-3">
        <label for="exampleInputUsername" class="form-label">Last Name</label>
        {{ form.last_name }}
      </div>
      <div class="mb-3">
        <label for="exampleInputUsername" class="form-label">Username</label>
        {{ form.username }}
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Email</label>
        {{ form.email }}
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        {{ form.password1 }}
        <p>Password min-8 terdiri dari huruf kecil, capital dan angkat</p>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label"
          >Reapet Password</label
        >
        {{ form.password2 }}
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        value="register"
        name="submit"
      >
        Submit
      </button>
    </div>
    <div class="m-auto mt-4">
    <p>
      If you already have an account ,
      <a href="\login" >Login.</a>
    </p>
    </form>
    
    

    <!--  end form -->

    <!-- link js boostrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
