{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>KopiKenangan</title>


  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />

  <!-- font awesome style -->
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />

</head>

<body class="sub_page">

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section long_section px-0">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="/">
          <span>
            KopiKenangan
          </span>
        </a>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""> </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
            <ul class="navbar-nav  ">
              <li class="nav-item ">
                <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about"> About</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/blog">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/menu">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Admin</a>
              </li>
            </ul>
          </div>
          <div class="quote_btn-container">
            <a href="/logout">
              <span>
                LogOut
              </span>
              <i class="fa fa-user" aria-hidden="true"></i>
            </a>
            
          </div>
        </div>
      </nav>
    </header>
    <!-- end header section -->
  </div>

  <!-- furniture section -->

  <section class="furniture_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>SOP MENU</h2>
      </div>
      <div>
        <a href="{% url 'menu' %}" class="btn btn-success">Kembali ke Menu</a>
      </div>
      <br>
      
      <div >
        <h2>{{ menu.nama_product }}</h2>
        
        <table class="table table-bordered table-striped">
          <thead>
        <tr>
          <th  width="20%">Jenis Gilingan Kopi  </th>
          <th width="15%">Takaran Air</th>
          <th  width="10%">Takaran Gula</th>
          <th  width="10%">Takaran Susu </th>
          <th  width="10%">Takaran Soda </th>
          <th  width="10%">Takaran Marjan  </th>
          <th  width="40%">Keterangan </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ menu.jenis_gilingan_biji_kopi }}</td>
          <td>{{ menu.air }}</td>
          <td>{{ menu.takaran_gula }} </td>
          <td>{{ menu.takaran_susu }}</td>
          <td>{{ menu.takaran_soda }}</td>
          <td>{{ menu.takaran_marjan }}</td>
          <td>{{ menu.keterangan }}</td>
        </tr>
      </tbody>
        </table>
    
    </div>
    </div>
  </section>
  <!-- end furniture section -->

  <!-- info section -->
  <section class="info_section long_section">

    <div class="container">
      <div class="contact_nav">
        <a href="">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <span>
            Call : +62 87840469442
          </span>
        </a>
        <a href="">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <span>
            Email : wmi54968@gmail.com
          </span>
        </a>
        <a href="">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <span>
            Location
          </span>
        </a>
      </div>

      <div class="info_top ">
        <div class="row ">
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="info_links">
              <h4>
                QUICK LINKS
              </h4>
              <div class="info_links_menu">
                <a class="" href="/index">Home <span class="sr-only">(current)</span></a>
                <a class="" href="/about"> About</a>
                <a class="" href="/blog">Blog</a>
                <a class="" href="/contact">Contact Admin</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 mx-auto">
            <div class="info_post">
              <h5>INSTAGRAM FEEDS</h5>
              <div class="post_box">
                <div class="img-box">
                  <img src="{% static 'images/1.jpg' %}" alt="" />
                </div>
                <div class="img-box">
                  <img src="{% static 'images/2.jpg' %}" alt="" />
                </div>
                <div class="img-box">
                  <img src="{% static 'images/3.jpg' %}" alt="" />
                </div>
                <div class="img-box">
                  <img src="{% static 'images/4.jpg' %}" alt="" />
                </div>
                <div class="img-box">
                  <img src="{% static 'images/5.jpg' %}" alt="" />
                </div>
                <div class="img-box">
                  <img src="{% static 'images/6.jpg' %}" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info_form">
              <h4>
                FOLLOW ME
              </h4>
              
              <div class="social_box">
                <a href="">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end info_section -->


  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="#">Wiliramayanti</a>
        
      </p>
    </div>
  </footer>
  <!-- footer section -->


  <!-- jQery -->
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <!-- bootstrap js -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <!-- custom js -->
    <script src="{% static 'js/custom.js' %}"></script>
    <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
  <!-- End Google Map -->

</body>

</html>